<ion-header>
  <ion-toolbar>
    <ion-title>Pengajuan Harga {{obj.normalprice}}</ion-title>
    <ion-label slot="secondary">{{userMail}}</ion-label>
    <ion-buttons slot="secondary">
      <ion-button (click)="showModal()" [hidden]="isNotLogin">Login</ion-button>
      <ion-button (click)="doLogout()" [hidden]="isLogin">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Tanggal Penawaran</ion-label>
    <ion-datetime 
    [(ngModel)]="obj.quotation_date" 
    display-format="YYYY-MM-DD" 
    picker-format="DD MMMM YYYY" 
    placeholder="Pilih Tanggal Penawaran" interface="popover">

    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Area Cabang</ion-label>
    <ion-select [(ngModel)]="obj.branch_id" placeholder="Pilih Area" interface="popover">
      <ion-select-option value="1">Surabaya</ion-select-option>
      <ion-select-option value="2">Jakarta</ion-select-option>
      <ion-select-option value="3">Malang</ion-select-option>
      <ion-select-option value="4">Bali</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Nama Pelanggan</ion-label>
    <ion-input placeholder="Nama Pelanggan" [(ngModel)]="obj.clientname"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Nama PIC</ion-label>
  <ion-input placeholder="Nama PIC" [(ngModel)]="obj.clientpic"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Telepon</ion-label>
  <ion-input placeholder="Telepon" [(ngModel)]="obj.clienttlp"></ion-input>
</ion-item>
<ion-item>
  <ion-label>HP</ion-label>
  <ion-input placeholder="HP" [(ngModel)]="obj.clientpichp"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Email</ion-label>
  <ion-input placeholder="Email" [(ngModel)]="obj.clientemail"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Alamat</ion-label>
  <ion-input placeholder="Alamat" [(ngModel)]="obj.clientaddress"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Target Aktifasi</ion-label>
  <ion-datetime placeholder="Target Aktifasi" [(ngModel)]="obj.activationtarget" display-format="YYYY-MM-DD" picker-format="DD MMMM YYYY"></ion-datetime>
</ion-item>
<ion-item>
  <ion-label>Image</ion-label>
  <ion-input [(ngModel)]="obj.img" type="hidden"></ion-input>
  <ion-input [(ngModel)]="obj.createuser" type="hidden"></ion-input>
  <ion-input type="file" placeholder="Pilih FIle" (change)="openFile($event,obj)"></ion-input>
  <img [src]="uploadImage" alt="" id="img" width="200">
</ion-item>
<ion-item>
  <ion-label>Kategori</ion-label>
  <ion-select [(ngModel)]="obj.category_id" placeholder="Kategori" interface="popover" (ionChange)="populateServices()">
    <ion-select-option *ngFor="let category of categories" value="{{category.id}}">
      {{category.name}}
    </ion-select-option>
  </ion-select>
</ion-item>
<ion-item [hidden]="hideService">
  <ion-label>Nama Layanan:</ion-label>
  <ion-select [(ngModel)]="obj.service_id" placeholder="Nama Layanan" interface="popover" (ionChange)="populateSubServices()">
      <ion-select-option *ngFor="let service of services" value="{{service.id}}">
          {{service.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item [hidden]="hideSubService">
    <ion-label>Nama Sub Layanan:</ion-label>
    <ion-select [(ngModel)]="obj.subservice_id" placeholder="Nama Sub Layanan" interface="popover" (ionChange)="populateMedias(obj)">
      <ion-select-option *ngFor="let service of subservices" value="{{service.id}}">
          {{service.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item [hidden]="hideMedia">
  <ion-label>Media:</ion-label>
  <ion-select [(ngModel)]="obj.media_id" placeholder="Media" interface="popover" (ionChange)="getCapacities()">
    <ion-select-option value="{{media.id}}" *ngFor="let media of medias">
      {{media.name}}
    </ion-select-option>
  </ion-select>
</ion-item>
<ion-item [hidden]="hideCapacity">
  <ion-label>Kapasitas:</ion-label>
  <ion-select [(ngModel)]="obj.capacity" placeholder="Kapasitas" interface="popover" (ionChange)="getPrices()">
    <ion-select-option *ngFor="let capacity of capacities" value="{{capacity.capacity}}">{{capacity.capacity}}</ion-select-option>
  </ion-select>
</ion-item>
<ion-item [hidden]="hidePrice">
    <ion-label>Harga Pricelist:</ion-label>
  <ion-input [(ngModel)]="obj.normalprice" placeholder="Harga Pricelist"></ion-input>
</ion-item>
<ion-item [hidden]="hidePrice">
    <ion-label>Harga Nego Pertama:</ion-label>
  <ion-input [(ngModel)]="obj.upperprice" placeholder="Harga Nego Pertama"></ion-input>
</ion-item>
<ion-item [hidden]="hidePrice">
    <ion-label>Harga Nego Kedua:</ion-label>
  <ion-input [(ngModel)]="obj.bottomprice" placeholder="Harga Nego Kedua"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Alasan</ion-label>
  <ion-select [(ngModel)] = "obj.reason" (ionChange)="showOtherReason()" interface="popover">
    <ion-select-option value="kompetitor">Kompetitor</ion-select-option>
    <ion-select-option value="kontrak minimum 2 tahun">Kontrak Minimum 2 tahun</ion-select-option>
    <ion-select-option value="punya akun existing">Punya Akun Existing</ion-select-option>
    <ion-select-option value="lainnya">Lainnya</ion-select-option>
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Alasan Lain</ion-label>
  <ion-input [(ngModel)]="obj.otherreason"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Pertimbangan Pengajuan Angka tersebut</ion-label>
  <ion-input [(ngModel)]="obj.reasoning"></ion-input>
</ion-item>
<ion-item>
    <ion-label>Harga Pengajuan Custom</ion-label>
    <ion-input [(ngModel)]="obj.customprice" placeholder="Harga Yang diajukan"></ion-input>
  </ion-item>
  <ion-button (click)="save(obj)">Simpan</ion-button>
</ion-content>
