<ion-header>
    <ion-toolbar>
      <ion-buttons>
        <ion-button color="primary" (click)="showAddPage()">
          Penambahan Promo
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="secondary">
        <ion-button (click)="showProfile()"><ion-icon name="lock"></ion-icon></ion-button>
        <ion-button (click)="showLogin()" [hidden]="isNotLogin"><ion-icon name="log-in"></ion-icon></ion-button>
        <ion-button (click)="doLogout()" [hidden]="isLogin"><ion-icon name="log-out"></ion-icon></ion-button>
      </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let promo of promos">
      <ion-label>{{promo.name}}</ion-label>
      <ion-button (click)="showDetail(promo)"><ion-icon name="more"></ion-icon></ion-button>
      
    </ion-item>
  </ion-list>
</ion-content>
