<ion-header>
  <ion-toolbar>
    <ion-title>pricelist-add</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="obj.servicename" placeholder="Nama Layanan"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="obj.capacity" placeholder="Kapasitas"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="obj.basicprice" placeholder="Harga Dasar"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="obj.bottomprice" placeholder="Harga Bawah"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="obj.upperprice" placeholder="Harga Atas"></ion-input>
  </ion-item>
  <ion-button (click)="save(obj)">Simpan</ion-button>

</ion-content>
