<ion-header>
  <ion-toolbar>
    <ion-title>Daftar Harga Layanan</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons>
        <ion-button color="primary" (click)="showAddPage()">
          Penambahan Layanan
        </ion-button>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list >
    <ion-list-header color="medium">
      <ion-label>Nama</ion-label>
      <ion-label>Kapasitas</ion-label>
      <ion-label>Media</ion-label>
      <ion-label>Harga</ion-label>
      <ion-label>Nego 1</ion-label>
      <ion-label>Nego 2</ion-label>
      <ion-label>Pricelist</ion-label>
      <ion-label>Aksi</ion-label>
    </ion-list-header>
    <ion-menu-toggle auto-hide="false" *ngFor="let obj of objs">
      <ion-item>
        <ion-label>
            {{obj.servicename}}
        </ion-label>
        <ion-label>{{obj.capacity}}</ion-label>
        <ion-label>{{obj.media}}</ion-label>
        <ion-label>{{obj.basicprice}}</ion-label>
        <ion-label>{{obj.bottomprice}}</ion-label>
        <ion-label>{{obj.upperprice}}</ion-label>
        <ion-label>{{obj.normalprice}}</ion-label>
        <ion-buttons>
          <ion-button (click)="doEdit(obj)">Edit</ion-button>
          <ion-button (click)="doNego(obj)">Nego</ion-button>
          <ion-button (click)="doRemove(obj)">Hapus</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
