<ion-header>
  <ion-toolbar>
    <ion-title>pricelists</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons>
        <ion-button color="primary" (click)="showAddPage()">
          Penambahan Layanan
        </ion-button>
      </ion-buttons>
      </ion-toolbar>
  </ion-header>

<ion-content padding>
  <ion-list >
    <ion-menu-toggle auto-hide="false" *ngFor="let obj of objs">
      <ion-item>
        <ion-label>
            {{obj.servicename}}
        </ion-label>
        <ion-label>{{obj.capacity}}</ion-label>
        <ion-label>{{obj.basicprice}}</ion-label>
        <ion-label>{{obj.bottomprice}}</ion-label>
        <ion-label>{{obj.upperprice}}</ion-label>
        <ion-buttons>
          <ion-button (click)="doEdit(obj)">Edit</ion-button>
          <ion-button (click)="doRemove(obj)">Hapus</ion-button>
        </ion-buttons>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>
