<ion-header>
  <ion-toolbar>
    <ion-title>promo-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label>Nama</ion-label>
    <ion-input [(ngModel)]="obj.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Syarat dan Ketentuan</ion-label>
    <ion-input [(ngModel)]="obj.termcondition"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Flyer</ion-label>
    <ion-input [(ngModel)]="obj.flyer" type="hidden"></ion-input>
    <ion-input [(ngModel)]="obj.createuser" type="hidden"></ion-input>
    <ion-input type="file" placeholder="Pilih File" (change)="openFile(obj,$event)"></ion-input>
    <img [src]="uploadImage" alt="" id="img" width="200">
  </ion-item>
  <ion-item>
    <ion-label>Tanggal Mulai</ion-label>
    <ion-datetime placeholder="Tanggal Mulai" [(ngModel)]="obj.startdate" display-format="YYYY-MM-DD" picker-format="DD MMMM YYYY"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Tanggal Berakhir</ion-label>
    <ion-datetime placeholder="Tanggal Berakhir" [(ngModel)]="obj.enddate" display-format="YYYY-MM-DD" picker-format="DD MMMM YYYY"></ion-datetime>
  </ion-item>
</ion-list>
<ion-button (click)="save(obj)">Simpan</ion-button>
</ion-content>
