<ion-input placeholder="Nama Layanan" [(ngModel)]="obj.servicename"></ion-input>
<ion-input placeholder="Kapasitas" [(ngModel)]="obj.capacity"></ion-input>
<ion-input placeholder="Harga Dasar" [(ngModel)]="obj.basicprice"></ion-input>
<ion-input placeholder="Harga Terendah" [(ngModel)]="obj.bottomprice"></ion-input>
<ion-input placeholder="Harga Tertinggi" [(ngModel)]="obj.upperprice"></ion-input>
<ion-buttons>
  <ion-button (click)="saveService()">Ya</ion-button>
  <ion-button (click)="closeDialog()">Tidak</ion-button>
</ion-buttons>