<ion-header>
  <ion-toolbar>
    <ion-title>Informasi Harga</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="showProfile()"><ion-icon name="lock"></ion-icon></ion-button>
      <ion-button (click)="showLogin()" [hidden]="isNotLogin"><ion-icon name="log-in"></ion-icon></ion-button>
      <ion-button (click)="doLogout()" [hidden]="isLogin"><ion-icon name="log-out"></ion-icon></ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Kategori</ion-label>
      <ion-select [(ngModel)]="obj.category_id" placeholder="Kategori" interface="popover" (ionChange)="populateServices()">
        <ion-select-option *ngFor="let category of categories" value="{{category.id}}">
          {{category.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [hidden]="hideService">
      <ion-label>Nama Layanan:</ion-label>
      <ion-select [(ngModel)]="obj.service_id" placeholder="Nama Layanan" interface="popover" (ionChange)="populateSubServices()">
          <ion-select-option *ngFor="let service of services" value="{{service.id}}">
              {{service.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden]="hideSubService">
        <ion-label>Nama Sub Layanan:</ion-label>
        <ion-select [(ngModel)]="obj.subservice_id" placeholder="Nama Sub Layanan" interface="popover" (ionChange)="populateMedias(obj)">
          <ion-select-option *ngFor="let service of subservices" value="{{service.id}}">
              {{service.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden]="hideMedia">
      <ion-label>Media:</ion-label>
      <ion-select [(ngModel)]="obj.media_id" placeholder="Media" interface="popover" (ionChange)="getCapacities()">
        <ion-select-option value="{{media.id}}" *ngFor="let media of medias">
          {{media.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [hidden]="hideCapacity">
      <ion-label>Kapasitas:</ion-label>
      <ion-select [(ngModel)]="obj.capacity" placeholder="Kapasitas" interface="popover" (ionChange)="getPrices()">
        <ion-select-option *ngFor="let capacity of capacities" value="{{capacity.capacity}}">{{capacity.capacity}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [hidden]="hidePrice">
        <ion-label>Harga Pricelist:</ion-label>
      <ion-input [(ngModel)]="obj.normalprice" placeholder="Harga Pricelist"></ion-input>
    </ion-item>
    <ion-item [hidden]="hidePrice">
        <ion-label>Harga Nego Pertama:</ion-label>
      <ion-input [(ngModel)]="obj.upperprice" placeholder="Harga Nego Pertama"></ion-input>
    </ion-item>
    <ion-item [hidden]="hidePrice">
        <ion-label>Harga Nego Kedua:</ion-label>
      <ion-input [(ngModel)]="obj.bottomprice" placeholder="Harga Nego Kedua"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>
