<ion-header>
  <ion-toolbar>
      <ion-label>Daftar Penawaran Di bawah harga nego 2</ion-label>
      <ion-buttons slot="secondary">
        <ion-button (click)="showModal()">Login</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item-group *ngFor="let quotation of quotations">
    <ion-item class="custom-list-header">
      <ion-label>
          Pelanggan
        </ion-label>
        <ion-label>
          <h2>{{quotation.branch|uppercase}}</h2>
          <h3>{{quotation.clientname|uppercase}}</h3>
          <h3>{{quotation.clientaddress}}</h3>
        </ion-label>  
    </ion-item>
      <ion-item>
        <ion-label>
          <h2>PIC</h2>
        </ion-label>
        <ion-label>
          <h3>{{quotation.clientpic}}</h3>
          <h3>{{quotation.clienttlp}}</h3>
          <h3>{{quotation.clientpichp}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Layanan</ion-label>
        <ion-label>
          <h2>{{quotation.category}}</h2>
          <h3>{{quotation.servicename}}</h3>
          <h3>{{quotation.media}}</h3>
          <h3>{{quotation.capacity}}</h3>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Target Aktivasi</ion-label>
        <ion-label>{{quotation.activationtarget}}</ion-label>
      </ion-item>
  </ion-item-group>
</ion-list>
</ion-content>
