.custom-list-header{
    font-weight: bold;
    background-color: burlywood;
    color: gold;
}
.item-native{
    background-color: cornsilk;
}

.input-wrapper{
    background-color: cornsilk;
}
 .quoteDetail .modal-wrapper {
        --width: 100%;
        left: calc(50% - (600px/2));
        --height: 100%;
        top: calc(50% - (500px/2));
        width:100%;
        height:100%;
 }
