<ion-list>
  <ion-item>
    <ion-label>Nama</ion-label>
    <ion-label>{{obj.clientname}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Harga Yang ditawarkan</ion-label>
    <ion-label>{{obj.customprice|number}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Alasan</ion-label>
    <ion-label>{{obj.reason}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Gambar</ion-label>
    <img src="{{obj._img}}" alt="Gambar Tidak Tersedia" width="200">
  </ion-item>
</ion-list>
<ion-button (click)="closeDialog()">Tutup</ion-button>