<ion-list>
  <ion-item>
    <ion-label>Nama</ion-label>
    <ion-label>{{obj.clientname}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Alamat</ion-label>
    <ion-label>{{obj.clientaddress}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Telp</ion-label>
    <ion-label>{{obj.clienttlp}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>PIC</ion-label>
    <ion-label>{{obj.clientpic}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>HP</ion-label>
    <ion-label>{{obj.clientpichp}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Email</ion-label>
    <ion-label>{{obj.clientemail}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Target Aktivasi</ion-label>
    <ion-label>{{obj.activationtarget}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Kategori</ion-label>
    <ion-label>{{obj.category}}</ion-label>
  </ion-item>
  <ion-item>
  <ion-label>Layanan</ion-label>
    <ion-label>{{obj.service}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Harga Yang ditawarkan</ion-label>
    <ion-label>{{obj.customprice|number}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Alasan</ion-label>
    <ion-label>{{obj.reason}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Gambar</ion-label>
    <img src="{{obj._img}}" alt="Gambar Tidak Tersedia" width="200">
  </ion-item>
</ion-list>
<ion-button (click)="closeDialog()">Tutup</ion-button>